<footer class="pt-5">
    <p class="lead">Connect with us:</p>

    <img src="/images/kainos_transparent.webp" alt="kainos_logo" class="footer_image">
    <p><%= new Date().getFullYear(); %></p>
</footer>