<nav>
    <img src="/images/kainos_logo2.png" alt="Logo" class="header_logo">
    <a href="/view">View Employees</a>
    <a href="/addemployee">Add Employees</a>
    <a href="/login">Login</a>
  </nav>